# logging.conf

[loggers]
keys=root

[handlers]
keys=adminFileHandler

[formatters]
keys=simpleFormatter

[formatter_simpleFormatter]
format=[%(asctime)s](%(levelname)s)%(name)s : %(message)s

[logger_root]
level=INFO
handlers=adminFileHandler

[handler_adminFileHandler]
class=handlers.RotatingFileHandler
formatter=simpleFormatter
args=('log/default.log', 'a', 0 , 1)